# SQLite database files
*.db
*.db-shm
*.db-wal
*.sqlite

# Environment variables
.env

# Entity Framework Core migrations
**/Migrations/

# Visual Studio files
bin/
obj/
*.user
*.suo
*.userprefs

# VS Code
.vscode/

# Mac OS files
.DS_Store